web/WEB-INF/wsdl/cscitemp161.cs.uno.edu_8080/DOLServices/wsdls/DOLService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://dol.com/" 
             name="DOLService" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsp="http://www.w3.org/ns/ws-policy" 
             xmlns:tns="http://dol.com/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dol.com/" schemaLocation="DOLService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSkillsByType">
    <part name="parameters" element="tns:getSkillsByType"/>
  </message>
  <message name="getSkillsByTypeResponse">
    <part name="parameters" element="tns:getSkillsByTypeResponse"/>
  </message>
  <message name="getOccupationsByType">
    <part name="parameters" element="tns:getOccupationsByType"/>
  </message>
  <message name="getOccupationsByTypeResponse">
    <part name="parameters" element="tns:getOccupationsByTypeResponse"/>
  </message>
  <message name="addSkillToPosition">
    <part name="parameters" element="tns:addSkillToPosition"/>
  </message>
  <message name="addSkillToPositionResponse">
    <part name="parameters" element="tns:addSkillToPositionResponse"/>
  </message>
  <message name="dropSkillFromOccupation">
    <part name="parameters" element="tns:dropSkillFromOccupation"/>
  </message>
  <message name="dropSkillFromOccupationResponse">
    <part name="parameters" element="tns:dropSkillFromOccupationResponse"/>
  </message>
  <message name="getSkillsFromPosition">
    <part name="parameters" element="tns:getSkillsFromPosition"/>
  </message>
  <message name="getSkillsFromPositionResponse">
    <part name="parameters" element="tns:getSkillsFromPositionResponse"/>
  </message>
  <message name="getOccupationFromSkill">
    <part name="parameters" element="tns:getOccupationFromSkill"/>
  </message>
  <message name="getOccupationFromSkillResponse">
    <part name="parameters" element="tns:getOccupationFromSkillResponse"/>
  </message>
  <portType name="DOLService">
    <operation name="getSkillsByType">
      <input wsam:Action="http://dol.com/DOLService/getSkillsByTypeRequest" message="tns:getSkillsByType"/>
      <output wsam:Action="http://dol.com/DOLService/getSkillsByTypeResponse" message="tns:getSkillsByTypeResponse"/>
    </operation>
    <operation name="getOccupationsByType">
      <input wsam:Action="http://dol.com/DOLService/getOccupationsByTypeRequest" message="tns:getOccupationsByType"/>
      <output wsam:Action="http://dol.com/DOLService/getOccupationsByTypeResponse" message="tns:getOccupationsByTypeResponse"/>
    </operation>
    <operation name="addSkillToPosition">
      <input wsam:Action="http://dol.com/DOLService/addSkillToPositionRequest" message="tns:addSkillToPosition"/>
      <output wsam:Action="http://dol.com/DOLService/addSkillToPositionResponse" message="tns:addSkillToPositionResponse"/>
    </operation>
    <operation name="dropSkillFromOccupation">
      <input wsam:Action="http://dol.com/DOLService/dropSkillFromOccupationRequest" message="tns:dropSkillFromOccupation"/>
      <output wsam:Action="http://dol.com/DOLService/dropSkillFromOccupationResponse" message="tns:dropSkillFromOccupationResponse"/>
    </operation>
    <operation name="getSkillsFromPosition">
      <input wsam:Action="http://dol.com/DOLService/getSkillsFromPositionRequest" message="tns:getSkillsFromPosition"/>
      <output wsam:Action="http://dol.com/DOLService/getSkillsFromPositionResponse" message="tns:getSkillsFromPositionResponse"/>
    </operation>
    <operation name="getOccupationFromSkill">
      <input wsam:Action="http://dol.com/DOLService/getOccupationFromSkillRequest" message="tns:getOccupationFromSkill"/>
      <output wsam:Action="http://dol.com/DOLService/getOccupationFromSkillResponse" message="tns:getOccupationFromSkillResponse"/>
    </operation>
  </portType>
  <binding name="DOLServicePortBinding" type="tns:DOLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getSkillsByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOccupationsByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addSkillToPosition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dropSkillFromOccupation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSkillsFromPosition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOccupationFromSkill">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DOLService">
    <port name="DOLServicePort" binding="tns:DOLServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

