web/wsdls/EduServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://eduservices.com/" name="EduServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://eduservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://eduservices.com/" schemaLocation="EduServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getActiveCourses">
    <part name="parameters" element="tns:getActiveCourses"/>
  </message>
  <message name="getActiveCoursesResponse">
    <part name="parameters" element="tns:getActiveCoursesResponse"/>
  </message>
  <message name="getInactiveCourses">
    <part name="parameters" element="tns:getInactiveCourses"/>
  </message>
  <message name="getInactiveCoursesResponse">
    <part name="parameters" element="tns:getInactiveCoursesResponse"/>
  </message>
  <message name="getAllSections">
    <part name="parameters" element="tns:getAllSections"/>
  </message>
  <message name="getAllSectionsResponse">
    <part name="parameters" element="tns:getAllSectionsResponse"/>
  </message>
  <message name="getSectionsByCourse">
    <part name="parameters" element="tns:getSectionsByCourse"/>
  </message>
  <message name="getSectionsByCourseResponse">
    <part name="parameters" element="tns:getSectionsByCourseResponse"/>
  </message>
  <message name="getCurrentSections">
    <part name="parameters" element="tns:getCurrentSections"/>
  </message>
  <message name="getCurrentSectionsResponse">
    <part name="parameters" element="tns:getCurrentSectionsResponse"/>
  </message>
  <message name="getPastSections">
    <part name="parameters" element="tns:getPastSections"/>
  </message>
  <message name="getPastSectionsResponse">
    <part name="parameters" element="tns:getPastSectionsResponse"/>
  </message>
  <message name="getFutureSections">
    <part name="parameters" element="tns:getFutureSections"/>
  </message>
  <message name="getFutureSectionsResponse">
    <part name="parameters" element="tns:getFutureSectionsResponse"/>
  </message>
  <message name="getAllCertificates">
    <part name="parameters" element="tns:getAllCertificates"/>
  </message>
  <message name="getAllCertificatesResponse">
    <part name="parameters" element="tns:getAllCertificatesResponse"/>
  </message>
  <message name="getCertificatesByPerson">
    <part name="parameters" element="tns:getCertificatesByPerson"/>
  </message>
  <message name="getCertificatesByPersonResponse">
    <part name="parameters" element="tns:getCertificatesByPersonResponse"/>
  </message>
  <message name="getAllExaminations">
    <part name="parameters" element="tns:getAllExaminations"/>
  </message>
  <message name="getAllExaminationsResponse">
    <part name="parameters" element="tns:getAllExaminationsResponse"/>
  </message>
  <message name="getPastExaminations">
    <part name="parameters" element="tns:getPastExaminations"/>
  </message>
  <message name="getPastExaminationsResponse">
    <part name="parameters" element="tns:getPastExaminationsResponse"/>
  </message>
  <message name="getFutureExaminations">
    <part name="parameters" element="tns:getFutureExaminations"/>
  </message>
  <message name="getFutureExaminationsResponse">
    <part name="parameters" element="tns:getFutureExaminationsResponse"/>
  </message>
  <message name="getCertificate">
    <part name="parameters" element="tns:getCertificate"/>
  </message>
  <message name="getCertificateResponse">
    <part name="parameters" element="tns:getCertificateResponse"/>
  </message>
  <message name="getCourse">
    <part name="parameters" element="tns:getCourse"/>
  </message>
  <message name="getCourseResponse">
    <part name="parameters" element="tns:getCourseResponse"/>
  </message>
  <message name="addCourse">
    <part name="parameters" element="tns:addCourse"/>
  </message>
  <message name="addCourseResponse">
    <part name="parameters" element="tns:addCourseResponse"/>
  </message>
  <message name="PreexistingCourseException">
    <part name="fault" element="tns:PreexistingCourseException"/>
  </message>
  <message name="getAllCourses">
    <part name="parameters" element="tns:getAllCourses"/>
  </message>
  <message name="getAllCoursesResponse">
    <part name="parameters" element="tns:getAllCoursesResponse"/>
  </message>
  <message name="updateCourse">
    <part name="parameters" element="tns:updateCourse"/>
  </message>
  <message name="updateCourseResponse">
    <part name="parameters" element="tns:updateCourseResponse"/>
  </message>
  <message name="IllegalOrphanException">
    <part name="fault" element="tns:IllegalOrphanException"/>
  </message>
  <message name="NonexistentCourseException">
    <part name="fault" element="tns:NonexistentCourseException"/>
  </message>
  <message name="getTranscript">
    <part name="parameters" element="tns:getTranscript"/>
  </message>
  <message name="getTranscriptResponse">
    <part name="parameters" element="tns:getTranscriptResponse"/>
  </message>
  <portType name="EduServices">
    <operation name="getActiveCourses">
      <input wsam:Action="http://eduservices.com/EduServices/getActiveCoursesRequest" message="tns:getActiveCourses"/>
      <output wsam:Action="http://eduservices.com/EduServices/getActiveCoursesResponse" message="tns:getActiveCoursesResponse"/>
    </operation>
    <operation name="getInactiveCourses">
      <input wsam:Action="http://eduservices.com/EduServices/getInactiveCoursesRequest" message="tns:getInactiveCourses"/>
      <output wsam:Action="http://eduservices.com/EduServices/getInactiveCoursesResponse" message="tns:getInactiveCoursesResponse"/>
    </operation>
    <operation name="getAllSections">
      <input wsam:Action="http://eduservices.com/EduServices/getAllSectionsRequest" message="tns:getAllSections"/>
      <output wsam:Action="http://eduservices.com/EduServices/getAllSectionsResponse" message="tns:getAllSectionsResponse"/>
    </operation>
    <operation name="getSectionsByCourse">
      <input wsam:Action="http://eduservices.com/EduServices/getSectionsByCourseRequest" message="tns:getSectionsByCourse"/>
      <output wsam:Action="http://eduservices.com/EduServices/getSectionsByCourseResponse" message="tns:getSectionsByCourseResponse"/>
    </operation>
    <operation name="getCurrentSections">
      <input wsam:Action="http://eduservices.com/EduServices/getCurrentSectionsRequest" message="tns:getCurrentSections"/>
      <output wsam:Action="http://eduservices.com/EduServices/getCurrentSectionsResponse" message="tns:getCurrentSectionsResponse"/>
    </operation>
    <operation name="getPastSections">
      <input wsam:Action="http://eduservices.com/EduServices/getPastSectionsRequest" message="tns:getPastSections"/>
      <output wsam:Action="http://eduservices.com/EduServices/getPastSectionsResponse" message="tns:getPastSectionsResponse"/>
    </operation>
    <operation name="getFutureSections">
      <input wsam:Action="http://eduservices.com/EduServices/getFutureSectionsRequest" message="tns:getFutureSections"/>
      <output wsam:Action="http://eduservices.com/EduServices/getFutureSectionsResponse" message="tns:getFutureSectionsResponse"/>
    </operation>
    <operation name="getAllCertificates">
      <input wsam:Action="http://eduservices.com/EduServices/getAllCertificatesRequest" message="tns:getAllCertificates"/>
      <output wsam:Action="http://eduservices.com/EduServices/getAllCertificatesResponse" message="tns:getAllCertificatesResponse"/>
    </operation>
    <operation name="getCertificatesByPerson">
      <input wsam:Action="http://eduservices.com/EduServices/getCertificatesByPersonRequest" message="tns:getCertificatesByPerson"/>
      <output wsam:Action="http://eduservices.com/EduServices/getCertificatesByPersonResponse" message="tns:getCertificatesByPersonResponse"/>
    </operation>
    <operation name="getAllExaminations">
      <input wsam:Action="http://eduservices.com/EduServices/getAllExaminationsRequest" message="tns:getAllExaminations"/>
      <output wsam:Action="http://eduservices.com/EduServices/getAllExaminationsResponse" message="tns:getAllExaminationsResponse"/>
    </operation>
    <operation name="getPastExaminations">
      <input wsam:Action="http://eduservices.com/EduServices/getPastExaminationsRequest" message="tns:getPastExaminations"/>
      <output wsam:Action="http://eduservices.com/EduServices/getPastExaminationsResponse" message="tns:getPastExaminationsResponse"/>
    </operation>
    <operation name="getFutureExaminations">
      <input wsam:Action="http://eduservices.com/EduServices/getFutureExaminationsRequest" message="tns:getFutureExaminations"/>
      <output wsam:Action="http://eduservices.com/EduServices/getFutureExaminationsResponse" message="tns:getFutureExaminationsResponse"/>
    </operation>
    <operation name="getCertificate">
      <input wsam:Action="http://eduservices.com/EduServices/getCertificateRequest" message="tns:getCertificate"/>
      <output wsam:Action="http://eduservices.com/EduServices/getCertificateResponse" message="tns:getCertificateResponse"/>
    </operation>
    <operation name="getCourse">
      <input wsam:Action="http://eduservices.com/EduServices/getCourseRequest" message="tns:getCourse"/>
      <output wsam:Action="http://eduservices.com/EduServices/getCourseResponse" message="tns:getCourseResponse"/>
    </operation>
    <operation name="addCourse">
      <input wsam:Action="http://eduservices.com/EduServices/addCourseRequest" message="tns:addCourse"/>
      <output wsam:Action="http://eduservices.com/EduServices/addCourseResponse" message="tns:addCourseResponse"/>
      <fault message="tns:PreexistingCourseException" name="PreexistingCourseException" wsam:Action="http://eduservices.com/EduServices/addCourse/Fault/PreexistingCourseException"/>
    </operation>
    <operation name="getAllCourses">
      <input wsam:Action="http://eduservices.com/EduServices/getAllCoursesRequest" message="tns:getAllCourses"/>
      <output wsam:Action="http://eduservices.com/EduServices/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
    </operation>
    <operation name="updateCourse">
      <input wsam:Action="http://eduservices.com/EduServices/updateCourseRequest" message="tns:updateCourse"/>
      <output wsam:Action="http://eduservices.com/EduServices/updateCourseResponse" message="tns:updateCourseResponse"/>
      <fault message="tns:IllegalOrphanException" name="IllegalOrphanException" wsam:Action="http://eduservices.com/EduServices/updateCourse/Fault/IllegalOrphanException"/>
      <fault message="tns:NonexistentCourseException" name="NonexistentCourseException" wsam:Action="http://eduservices.com/EduServices/updateCourse/Fault/NonexistentCourseException"/>
    </operation>
    <operation name="getTranscript">
      <input wsam:Action="http://eduservices.com/EduServices/getTranscriptRequest" message="tns:getTranscript"/>
      <output wsam:Action="http://eduservices.com/EduServices/getTranscriptResponse" message="tns:getTranscriptResponse"/>
    </operation>
  </portType>
  <binding name="EduServicesPortBinding" type="tns:EduServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getActiveCourses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInactiveCourses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSectionsByCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentSections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPastSections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFutureSections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCertificates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCertificatesByPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllExaminations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPastExaminations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFutureExaminations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCertificate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PreexistingCourseException">
        <soap:fault name="PreexistingCourseException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllCourses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalOrphanException">
        <soap:fault name="IllegalOrphanException" use="literal"/>
      </fault>
      <fault name="NonexistentCourseException">
        <soap:fault name="NonexistentCourseException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTranscript">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EduServices">
    <port name="EduServicesPort" binding="tns:EduServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

